body {
    margin: 0;
}

header {
    background-color: #a00c30;
    color: white;
}

.container-header {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    margin-right: auto;
}

.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 6px;
    justify-content: space-around;
}

nav {
    list-style: none;
}

.hero {
    background-color: #a00c30;
    color: white;
}

.container-hero {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.hero-image {
    max-height: 200px;
    width: auto;
    margin: 6px;
}

.title-text {
    text-align: left;
}

button {
    padding: 5px 15px;
    color: white;
    background-color: black;
}

.info-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin: 15px;
}

.info-box {
    border: 2px solid #da1a32;
    padding: 15px;
}

main p, h2 {
    text-align: center;
}

.container-quote {
    background-color: lightgray;
    padding: 8px;
}

.call {
    background-color: #da1a32;
    padding: 15px;
    margin: 50px;
}

.call-text {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#action, #button-alert {
    width: 150px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

footer {
    background-color: #a00c30;
    padding: 15px;
    margin: auto;
    text-align: center;
    color: white;
}